@model Residue

@{ TableItemEvent e = ViewBag.CardEvent; }
@using (Html.BeginForm("Card", "Residues", new
{
    e = ((TableItemEvent)ViewBag.CardEvent)
}, FormMethod.Post, true, new
{
    @class = "form-horizontal",
    @role = "form"
}))
{
<div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="BranchId" class="col-sm-2 control-label"></label>

        <div class="col-sm-4 input-group">
            <select asp-for="BranchId" class="form-control card-control" asp-items="ViewBag.BranchVariants"></select>
            <span asp-validation-for="BranchId" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ProductId" class="col-sm-2 control-label"></label>

        <div class="col-sm-4 input-group">
            <select asp-for="ProductId" class="form-control card-control" asp-items="ViewBag.PromotionVariants"></select>
            <span asp-validation-for="ProductId" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Value" class="col-sm-2 control-label"></label>

        <div class="col-sm-4 input-group">
            <input asp-for="Value" class="form-control card-control">
            <span asp-validation-for="Value" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-default" value="Save">
                Принять?
            </button>
        </div>
    </div>
</div>
}

@Html.Partial("_ValidationScriptsPartial")
