@{
    var FilterData = ViewData["FilterData"] as FilterData;
    FilterData.MaxPrice = 1000;
}

<div class="row">
    @Html.Partial("../Filter.cshtml", FilterData)
    <div id="table" class="col-md-10">

    </div>
</div>

@section Scripts {
    <script>FilterController()</script>
}

