@{
    var FilterData = ViewData["FilterData"] as FilterData;
    FilterData.MaxPrice = 1000;
}

<div class="row">
    <div class="col-xs-2 well">
        @Html.Partial("../Filter.cshtml", FilterData)
    </div>
    <div id="table" class="col-xs-10">

    </div>
</div>

@section Scripts {
    <script>FilterController()</script>
}

