@model TableViewModel

@{
    ViewData["Title"] = Model.TableName.Value;
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="text-right">
    @using (Html.BeginLink("Home", Model.TableName.Key + "Card", new { e = TableItemEvent.Create }, new { @class = "btn btn-success card" }))
    {
        <span class="glyphicon glyphicon-plus"></span>
        <simpletext>Добавить</simpletext>
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var columnName in Model.ColumnNames)
            {
                <th class="text-center">@columnName.Value</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Table)
        {
            <tr>
                @foreach (var columnName in Model.ColumnNames)
                {
                    <td class="text-center">@obj[columnName.Key]</td>
                }
                <td>
                    @using (Html.BeginLink("Home", Model.TableName.Key + "Card", new { id = obj["Id"], e = TableItemEvent.Edit }, new { @class = "btn btn-info btn-sm card" }))
                    {
                        <span class="glyphicon glyphicon-pencil"></span>
                    }
                    @using (Html.BeginLink("Home", Model.TableName.Key + "Card", new { id = obj["Id"], e = TableItemEvent.Delete }, new { @class = "btn btn-danger btn-sm card" }))
                    {
                        <span class="glyphicon glyphicon-remove"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".card").click(function (e) {
                e.preventDefault();

                $.get(this.href, function (data) {
                    $('#modDialog').modal('show');
                    $('#dialogContent').html(data);
                    
                });

            });


        })
    </script>
}