@model Table

@{
    ViewData["Title"] = Model.Caption;
}

<div id="modDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <link rel="stylesheet" href="~/css/Loader.css" />
                <link rel="stylesheet" href="~/css/Card.css" />

                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h4 id="CardTitle">Редактор</h4>
            </div>
            <div id="dialogContent" class="modal-body"></div>
        </div>
    </div>
</div>
<div class="text-right">
    @using (Html.BeginLink(Model.Name, "Card", new { e = TableItemEvent.Create },
       new { @class = "btn btn-success card", @event = "create" }))
    {
        <span class="glyphicon glyphicon-plus"></span>
        <simpletext>Добавить</simpletext>
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var column in Model.Columns)
            {
                if (column.IsVisible)
                {
                    <th class="text-center">@column.Caption</th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow obj in Model.Items.Rows)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    if (column.IsVisible)
                    {
                        <td class="text-center">@obj[column.Alias]</td>
                    }
                }
                <td class="text-right">
                    @using (Html.BeginLink(Model.Name, "Card", new { id = obj["Id"], e = TableItemEvent.Edit },
                       new { @class = "btn btn-info btn-sm card", @event = "edit" }))
                    {
                        <span class="glyphicon glyphicon-pencil"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script src='@Url.Content("~/Scripts/Cards.js")'></script>
}